extends layout
block layout-content
    .d-flex.nav-bar
        .w-10 #
        .w-15 Company Name
        .w-15 Drug Name
        .w-65
            .d-flex
                .list-group-item Title
                .list-group-item Link
    each result,index in resultList
        .d-flex.result-list
            .w-10.padding-10.font-bold= index
            .w-15.padding-10= result.companyName
            .w-15.padding-10= result.drugName
            .w-65
                each info in result.infoList
                    .d-flex.info.padding-10
                        .list-group-item= info.title
                        .list-group-item
                            a.tiptext(href=info.link target='_blank')= info.link
                                
