extends layout
block layout-content
    .d-flex.nav-bar
        .w-10 #
        .w-15 Company Name
        .w-15 Drug Name
        .w-65
            .d-flex
                .list-group-item.w-40 Title
                .list-group-item.w-60 Link
    each result,index in resultList
        .d-flex.result-list
            .w-10.padding-10.font-bold= index+1
            .w-15.padding-10= result.companyName
            .w-15.padding-10= result.drugName
            .w-65
                each info, subIndex in result.infoList
                    .d-flex.info.padding-10
                        .list-group-item.w-40= subIndex+1 + "  " + info.title
                        .list-group-item.w-60
                            a.tiptext(href=info.link target='_blank')= info.link
                                
